.App {
    display: flex;
    flex-direction: column;
}



/* TRANSITION STYLING */

.form-transition-enter {
    background-color: red;
    /* -webkit-transform: translateX(-120%) rotate(0);
            transform: translateX(-120%) rotate(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    max-height: 0;
    padding: 0 !important; */
  }
  .form-transition-enter.form-transition-enter-active {
    background-color: blue;
    /* max-height: 60px;
    -webkit-transform: translateX(0) rotate(1440deg);
            transform: translateX(0) rotate(1440deg);
    padding: 2rem 0 !important; */
  }

  .form-transition-exit {
    background-color: green;
    /* -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(0);
            transform: translateX(0); */
  }
  .form-transition-exit.form-transition-exit-active {
    background-color: yellow;
    /* -webkit-transform: translateX(120%);
            transform: translateX(120%);
    padding: 0; */
  }